body{
	padding: 0px;
	margin: 0px;	
	background-color: #f4f6f8;
}

table thead .th{
border-top:none;
border-bottom:none;

}

table .thead .th:hover{
background-color:#1c2260;
color:red;

}

.bgl{
  background-color:#1c2260;
  color:white;
}

.th{
  max-width:50vw;
  padding: 10px;
  border-radius: 5%;

}




table .thead tr > td >{
color:white;
}

table tbody tr > .td{
border-top:none;
border-bottom:none;


}

.img-wrap .close {
 
}

.styling1{
	display: flex;
	width:80vw;
	margin: auto;
	flex-wrap: wrap;	
}
.styling2{
	display: flex;
	width:80vw;
	margin: auto;
	flex-wrap: wrap;	
}

.header{
	background-color:#1c2260;
	padding:20px;
	
}


/*.modal-dialog {
	flex-basis: 35vw;
	flex-shrink: 1;
}*/
.title{
	color:white;
}
.links {
	color:white;
	margin:3px;
}

.bracket{
	color:gray;
	margin:3px;
}
.links:hover{
	text-decoration: none;
	color:white;
}
.links2:hover{
	text-decoration: none;
	color:black
}

.links2{
	text-decoration: none;
	color:black
}

.navLink {
	text-decoration: none;
	color:white;
}

.navLink:hover{
	text-decoration: none;
	color:white;
}

.logoImage{
border-radius:50%;
color:white;
width:100px;
height:100px;
margin:auto;
}

.panel-image{
background-color: red;
color:white;
}

.pricing{
display: flex;
flex-direction: row;
}

.pricing .first {
	color:red;
	flex:1;
}


.navLogo {
	width:30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px;
}

.footerLogo {
	width:30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px;
}

.z-index{
	position:fixed;
	z-index: 3;
}



@media only screen and (min-width:375px) {


}

.main {
	min-height: 100vh;
}

.details-header{
	background-color:#1c2260;
	padding: 10px;

}

.sidebar-header{
	background-color:#1c2260; 
	padding: 10px;
}

.danger{
	border:3px solid red;
}





/*sidebar styles */


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  
}

#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}





@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

/*.modal-dialog {
	flex-basis: 35vw;
	flex-shrink: 1;
}*/
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



/*uploads styling goes below*/




.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}