body{
	padding: 0px;
	margin: 0px;	
	background-color: #f4f6f8;
}

.styling1{
	display: flex;
	flex-basis: 400;
	margin: auto;
	flex-wrap: wrap;	
}
.styling2{
	display: flex;
	width:80vw;
	margin: auto;
	flex-wrap: wrap;	
}

.header{
	background-color:#1c2260;
	padding:20px;
	
}
.title{
	color:white;
}
.links {
	color:white;
	margin:3px;
}

.bracket{
	color:gray;
	margin:3px;
}
.links:hover{
	text-decoration: none;
	color:white;
}
.links2:hover{
	text-decoration: none;
	color:black
}

.links2{
	text-decoration: none;
	color:black
}

.navLink {
	text-decoration: none;
	color:white;
}

.navLink:hover{
	text-decoration: none;
	color:white;
}

.logoImage{
border-radius:50%;
color:white;
width:100px;
height:100px;
margin:auto;
}

.panel-image{
background-color: red;
color:white;
}

.pricing{
display: flex;
flex-direction: row;
}

.pricing .first {
	color:red;
	flex:1;
}


.navLogo {
	width:30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px;
}

.footerLogo {
	width:30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px;
}

.z-index{
	position:fixed;
	z-index: 3;
}



@media only screen and (min-width:375px) {


}

.main {
	min-height: 100vh;
}

.details-header{
	background-color:#1c2260;
	padding: 10px;

}

.sidebar-header{
	background-color:#1c2260; 
	padding: 10px;
}

.danger{
	border:3px solid red;
}





/*sidebar styles */


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}





@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }


  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}